/* group-styles.css */

/* Styling for the table */
table {
  border-collapse: separate;
  width: 100%;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Styling for the Backlog column */
.backlog-column {
  width: 160px;
}

.backlog-box {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  color: black;
  margin-bottom: 10px;
}

.backlog-box-empty-small {
  height: 20px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  font-size: small;
  color: black;
}

.backlog-box-empty-middle {
  height: 30px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  font-size: small;
  color: black;
}

.backlog-box-empty-big {
  height: 40px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: #f3f3f3;
  margin-bottom: 10px;
  font-size: small;
  color: black;
}

.backlog-box-coop {
  height: 40px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: #ffdce2;
  margin-bottom: 10px;
  font-size: small;
  font-weight: bold;
  color: black;
}

.backlog-box-food {
  height: 40px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: rgb(175, 238, 219);
  margin-bottom: 10px;
  font-size: small;
  font-weight: bold;
  color: black;
}

.backlog-box-sport {
  height: 50px;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: rgb(208, 255, 208);
  margin-bottom: 10px;
  font-size: small;
  font-weight: bold;
  color: black;
}

.backlog-box-health {
  height: 20%;
  width: 100%;
  display: flex;
  text-align: left;
  justify-content: left;
  border-radius: 4px;
  background-color: rgb(219, 255, 166);
  margin-bottom: 10px;
  font-size: small;
  font-weight: bold;
  color: black;
}

.backlog-box-all {
  height: 20%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  background-color: black;
  margin-bottom: 10px;
  font-size: small;
  color: white;
}

.icon {
  font-size: 18px;
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backlog-box1 {
  background-color: #ffebee;
}

.backlog-box2 {
  background-color: #ffebee;
}

.backlog-box3 {
  background-color: aliceblue;
}

.backlog-box4 {
  background-color: aliceblue;
}

/* Styling for the Timeline column */

.timestamp {
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px; /* Default height for timeline rows */
}

.timeline-column,
.droppable-column {
  position: relative;
  width: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for the Timeline column */

.timestamp {
  font-weight: bold;
  font-size: 12px;
  padding: 2px;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5px; /* Default height for timeline rows */
}

.timeline-column,
.droppable-column {
  position: relative;
  width: 5%;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Custom height for individual timeline rows */
.timeline-row1 .timestamp {
  height: 5px;
}

.timeline-row2 .timestamp {
  height: 5px;
}

.timeline-row3 .timestamp {
  height: 5px;
}

.timeline-row4 .timestamp {
  height: calc(
    (110px / 270) * 7
  ); /* Adjust the height calculation based on the duration */
}

.timeline-row5 .timestamp {
  height: 5px;
}

.timeline-row6 .timestamp {
  height: 5px;
}

.timeline-row7 .timestamp {
  height: calc(
    (110px / 270) * 90
  ); /* Adjust the height calculation based on the duration */
}

.timeline-row8 .timestamp {
  height: 5px;
}

.timeline-row9 .timestamp {
  height: 5px;
}

.timeline-row10 .timestamp {
  height: calc(
    (110px / 270) * 60
  ); /* Adjust the height calculation based on the duration */
}

/* Rest of the CSS... */

/* group-styles.css */

/* Rest of the styles... */

/* Styling for the droppable columns */
.droppable-column {
  width: 120px; /* Set the desired width of the droppable columns */
  min-height: 100px;
  position: relative;
  background-color: #e0e0e0;
}

.droppable-column.highlight {
  background-color: #e0e0e0;
}

.dropped-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: inherit !important;
  height: inherit !important;
}

/* CSS for the new column classes */

/* General styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

h1,
h2 {
  margin-top: 0;
  text-align: center;
}

.summary-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  font-size: 16px;
  color: #fff;
  position: relative;
}

#summaryValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
}

.circle-outline {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border-width: 8px;
  border-style: solid;
}

.circle-content {
  position: relative;
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; /* Add this line to set a higher z-index */
}

.circle-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
  object-fit: cover;
  /* Add any other styles you need for the image */
}
